nav{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: #F8F9FA;
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: #F2F2F2;
}

#CV{
  font-weight: 700;
}

.navbar__logo{
  cursor: pointer;
  letter-spacing: 1px;
}

.navbar__logo:hover, .navbar__list-link:hover{color: #1E90FF;}

a{text-decoration: none;}

.navbar__logo, .navbar__list-link{
  color: #333333;
  transition: .4s ease-in;
  letter-spacing: 1px;
}

.navbar__list-container{
  display: none;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
}

@media (min-width: 1024px) {
  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  .navbar__list-container{
    display: flex;
    flex-direction: row;
    gap: 2rem
  }
}

