footer {
  background-color: #F5F5F5;
  color: #333333;
  padding: 20px;
  text-align: center;
  height: 25dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer a {
  color: #007BFF;
  text-decoration: none;
}

footer a:hover {
  color: #0056b3;
}

footer .icon {
  color: #333333;
}

footer .icon:hover {
  color: #007BFF;
}

.social-icons{
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding-top: 1rem;
}
