.hero-section{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 8rem;
  gap: 2rem;
}

.hero-container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hero-info{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.hero-up-title{
  font-size: 1.4rem;
  color: #333333;
  letter-spacing: 1.5px;
  font-weight: 600;
  opacity: 0.5;
}

.hero-title{
  font-size: 2.4rem;
  color: #333333;
}

.hero-subtitle{
  font-size: 1.6rem;
  color: #007BFF;
}

span{
  color: #333333;
}

.hero-title, .hero-subtitle{
  font-weight: 700;
}

.hero-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
  padding: 1rem 0;
}

.primary-button, .secondary-button{
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  width: 100%;
  text-align: center;
  font-weight: 600;
}

.primary-button{
  background-color: #333333;
  color: #FFFFFF;
  border: none;
}

.secondary-button{
  border: 1px solid #777777;
  color: #333333;
}

.primary-button:hover{
  background-color: #007BFF;
  transition: .4s;
  border: none;
}

.secondary-button:hover{
  background-color: #777777;
  color: #FFFFFF;
  transition: .4s;
}

.img-container {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
}

.img-container img {
  display: none;
  transition: filter 0.5s ease-in-out;
  filter: grayscale(100%);
}

.img-container img:hover {
  filter: grayscale(0%);
}


@media (min-width: 768px){
  .hero-section{
    flex-direction: row;
    justify-content: center;
    padding-top: 6rem;
  }

  .hero-up-title{
    font-size: 2.4rem;
  }

  .hero-title{
    font-size: 4.4rem;
  }

  .hero-subtitle{
    font-size: 2.6rem;
  }

  .hero-buttons{
    flex-direction: row;
  }
}

@media (min-width: 1024px){
  .hero-section{
    align-items: center;
    padding: 6rem 4rem ;
    gap: 2rem;
  }

  .hero-up-title{
    font-size: 2.2rem;
  }

  .hero-title{
    font-size: 3.9rem;
  }

  .hero-subtitle{
    font-size: 2.5rem;
  }

  .img-container {
    width: 100%;
    max-width: 300px;
    max-height: 500px;
    margin: 0 auto;
  }

  .img-container img {
    display: flex;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }
}

@media (min-width: 1440px){
  .hero-section{
    align-items: center;
    padding: 6rem 10rem ;
    gap: 4rem;
  }

  .hero-up-title{
    font-size: 3.4rem;
  }

  .hero-title{
    font-size: 5.4rem;
  }

  .hero-subtitle{
    font-size: 3.6em;
  }

  .primary-button, .secondary-button{
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
  }

  .img-container {
    width: 100%;
    max-width: 350px;
    max-height: 600px;
    margin: 0 auto;
  }
}

@media (min-width: 1920px){
  .hero-section{
    padding: 6rem 10rem ;
    gap: 4rem;
  }

  .hero-up-title{
    font-size: 4.4rem;
  }

  .hero-title{
    font-size: 7.4rem;
  }

  .hero-subtitle{
    font-size: 4.6em;
  }

  .primary-button, .secondary-button{
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
  }

  .img-container {
    width: 100%;
    max-width: 450px;
    max-height: 600px;
    margin: 0 auto;
  }
}

@media (min-width: 2560px){
  .hero-section{
    padding: 10rem;
    gap: 4rem;
  }

  .hero-up-title{
    font-size: 6.4rem;
  }

  .hero-title{
    font-size: 10.4rem;
  }

  .hero-subtitle{
    font-size: 6.6em;
  }

  .primary-button, .secondary-button{
    padding: 2rem 2.5rem;
    font-size: 1.3rem;
  }

  .img-container {
    width: 100%;
    max-width: 650px;
    max-height: 800px;
    margin: 0 auto;
  }
}