.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
  background-color: #F5F5F5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo,
.links,
.link-cv {
  text-decoration: none;
  color: #333333;
  font-weight: 500;
}

.logo {
  font-size: 1.5rem;
}

.logo:hover,
.links:hover {
  color: #007BFF;
  transition: ease-in 0.4s;
}

.links-container {
  display: none;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
}

.links-container.show-menu {
  display: flex;
}

li {
  list-style-type: none;
}

.links {
  font-size: 1.3rem;
}

.cv-button-container {
  width: 100%;
  text-align: center;
}

.link-cv {
  background-color: #333333;
  padding: 0.8rem 5rem;
  color: #F5F5F5;
  border-radius: 1rem;
  width: 100%;
}

.link-cv:hover {
  background-color: #007BFF;
  transition: ease-in 0.4s;
}

.hamburger-menu {
  display: block;
  background: none;
  border: none;
  color: #333333;
  font-size: 1.8rem;
  cursor: pointer;
  align-self: center;
  margin-left: auto;
  position: relative;
}

.hamburger-menu:focus {
  outline: none;
}

@media (min-width: 1024px) {
  .navbar {
    padding: 1.5rem 3rem;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .links-container {
    display: flex;
    flex-direction: row;
    width: auto;
  }

  .hamburger-menu {
    display: none;
    margin-left: none;
  }

  .cv-button-container {
    all: unset;
  }

  .links {
    font-size: 1.1rem;
  }

  .link-cv {
    font-size: 1.1rem;
    padding: 0.5rem 3rem;
  }
}

@media (min-width: 1440px) {
  .logo,
  .links {
    letter-spacing: 1.5px;
  }

  .links {
    font-size: 1.3rem;
  }

  .link-cv {
    font-size: 1.3rem;
    padding: 0.5rem 3rem;
  }
}

@media (min-width: 1920px){
  .navbar{
    padding: 1.6rem;
  }

  .logo{
    font-size: 2rem;
  }

  .links {
    font-size: 1.5rem;
  }

  .link-cv {
    font-size: 1.5rem;
    padding: 0.8rem 4rem;
  }
}

@media (min-width: 2560px){
  .navbar{
    padding: 3rem;
  }
  .logo{
    font-size: 3rem;
  }

  .links {
    font-size: 2.2rem;
  }

  .link-cv {
    font-size: 2.2rem;
    padding: 1rem 6rem;
  }
}